rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sorteo_participantes/{document} {
      allow read, write: if true;
    }
    match /sorteo_votos/{document} {
      allow read, write: if true;
    }
  }
}
